#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  border: 1px dotted black;
}

.Header {
  border: 1px dotted black;
}

.Navigation {
  border: 1px dotted black;
}

.Filter {
  border: 1px dotted black;
}

.Body {
  border: 1px dotted black;
}

.Footer {
  border: 1px dotted black;
}

.Article {
  border: 1px dotted black;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.Navigation li {
  margin: 0 20px;
}

.Navigation a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: wheat;
  color: white;
  border-radius: 5px;
  transition: background-color 1 ease;
}
